project:
  type: website

website:
  title: "BIOE591: Genomics for Ecology & Conservation"
  navbar:
    right:
      - text: "Home"
        href: index.qmd

format:
  html:
    theme: default
    css: styles.css
